*, *:before, *:after{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.banner{
	background-color: rgba(255,255,255,.9);
	padding: 30px;
}

.footer{
	margin-top: 20px;
	background-color: rgba(255,255,255,.9);
	padding: 45px;
}

.footer p{
	text-align: right;
	color: rgb(3, 3, 58);
	font-style: oblique;
}

.banner h2{
	position: absolute;
	left: 1050px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	color: blue;
}

.cose {
	float: left;
}


html{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}


@-webkit-keyframes aparecer {
	from{ opacity: 0;}
	to { opacity: 1; }
}

li > ul {
	position: absolute;
	top:0;
	left: 100%;
	width: 200px;
	box-shadow: 3px 0 10px rgba(0,0,0,.2);
	-webkit-animation: aparecer .7s;
	display: none;
}
ul{
	list-style: none;
	background: #f3f3f3;
}

.container{
	background: #f3f3f3;
	position: fixed;
	height: 100%;
	left: 0;
	width: 200px;
	top: 0;
	box-shadow: 3px 0 10px rgba(0,0,0,.2);
	-webkit-transition: left .5s ease;
	-o-transition: left .5s ease;
	transition: left .5s ease;
	z-index: 1000;
}

#menu_principal a, label{
	color: #868686;
	display: block;
	padding-left: 10px;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#menu_principal {
	padding-top: 5%;
}

#menu_principal li {
	height: 60px;
	line-height: 60px;
	position: relative;
	width: 100%;
}

#menu_principal > li {
	margin: 0 0 5% 0;
}

.boton{
	color: #fff;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 96%;
	top: 8px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	background: #64b4db;
	-webkit-transition: left .2s;
	-o-transition: left .2s;
	transition: left .2s;
	z-index: -1;
}
.boton:hover{
	left: 100%;
	cursor: pointer;
}

.invisible{
	left: -200px;
}

.derecha {
	float: right;
	line-height: 60px;
}

.principales {
	margin-right: 10px;
}

#menu_principal li:hover > a, #menu_principal li:hover > label{
	color: #fff;
	cursor: pointer;
	background-color: #64b4db;
}

nav ul li:hover > ul {
	display: inherit;
}

[id^=drop], .mif-expand-more{
	display: none;
}

@media only screen and (max-width: 560px), handheld and (orientation: landscape){
	#menu_principal li {
		margin: auto;
		height: auto;
	}

	#menu_principal {
		padding-top: 20%;
	}

	li > ul {
		position: static;
		height: auto;
		box-shadow: none;
		padding-left: 15px;
		width: auto;
	}

	nav{
		overflow-y: auto;
		max-height: 100vh;
		overflow-x: hidden;
		
	}
	.mif-expand-more{
		display: inline;
	}

	ul li .mif-chevron-right {
		display: none;
	}

	[id^=drop]:checked + ul {
		display: block;
	}

	nav ul li:hover > ul {
		display: none; 
	}
}

/* ---------------------------------------------------
    SLIDER STYLE
----------------------------------------------------- */

.c-slider {
    
	left: 10px;
	top: 10px;
	width: 85%;
    max-width: 750px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 5px #f0f0f0;

}

.slider {

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 400%;

}

.slider section {

    width: 100%;

}

.slider img {

    display: block;
    width: 100%;
    height: 100%;
    
}

.btn-prev, .btn-next {

    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: monospace;
    
}

.btn-prev:hover, .btn-next:hover {

    background: rgba(255, 255, 255, 1);

}

.btn-prev {

    left: 10px;

}

.btn-next {

    right: 10px;

}

.fila {
	display: flex;
	width: 100%;
	height: 100%;
}

.cose {
	margin-left: 20px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: -15px;
	width: 50%;
	background-color: rgba(255, 255, 255, .8);
	position: relative;
}

.cose > img{
	align-content: center;
}