
body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.banner{
	background-color: rgba(255,255,255,.9);
	padding: 40px;
}

.banner h2{
	position: absolute;
	left: 980px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
    color: rgb(1, 1, 15);
    font-size: 30px;
}

.footer{
	margin-top: 20px;
	background-color: rgba(255,255,255,.9);
	padding: 10px;
}

.footer p{
	text-align: right;
	color: rgb(3, 3, 58);
	font-style: oblique;
}

.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}

button{
    position: relative;
    left: 580px;
}